body {
  margin: 0;
  background-color: rgb(40, 40, 40);
}

.initButton {
  color: #eee;
  text-align: center;
  cursor: pointer;
}

.canvasContainer {
  margin: auto;
  margin-top: 100px;
  display: block;
  position: relative;
  width: 1280px;
  height: 720px;
  cursor: url(./engine-core/assets/images/menu-items/cursor.png), pointer;
}

.canvas {
  user-select: none;
}

.canvasFader {
  position: absolute;
  width: 1280px;
  height: 720px;
  pointer-events: none;
}
